#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}

body{
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%) !important;
}

.login-form{
  margin: 0 auto;
  margin-top: 50px !important;
  border-radius: 5px;
  /* border-color: #fff; */
  border: 1px solid #fff;
  padding: 20px;
}

.center{
   text-align: center;
}